link(rel="stylesheet", href="/css/bottom.css")
div.bottomBar
	div.bottomBarCell
		a(href="https://github.com/blocknotary/proofofphone").bottomLabelLeft.leftMargin Micro Oracles
		span.bottomLabelLeft . MIT License. Supported by 
		a(href="http://www.blockchainlabs.org/blockgrant-x-en/").bottomLabelLeft Wanxiang Blockchain Labs
	div.bottomBarCell.right
		span.bottomLabelRight Proof of Phone