link(rel="stylesheet", href="/css/top.css")
div.topBar
	span.topLabel Proof of Phone
	div.topButtonContainer
		div.topButtonInnerContainer
			div.topButtonInnerInnerContainer
				button.topButton.homeButton Home
			div.topButtonInnerInnerContainer
				button#verifyButton.topButton.verifyButton Verify